<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
<servers>
  <server>
      <id>central</id>
      <username>cd_svc</username>
      <password>{{ sample_artifactory_password }}</password>
  </server>
  <server>
      <id>snapshots</id>
      <username>cd_svc</username>
      <password>{{ sample_artifactory_password }}</password>
  </server>
</servers>
<mirrors>
  <mirror>
    <mirrorOf>*</mirrorOf>
    <name>remote-repos</name>
    <url>http://{{ repo_system_ip }}:{{ repo_system_port }}/artifactory/remote-repos</url>
    <id>remote-repos</id>
  </mirror>
</mirrors>
<profiles>
<profile>
  <id>test</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>artifactory-server-releases</name>
          <url>http://{{ repo_system_ip }}: {{ repo_system_port }}/artifactory/maven-test-repo</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>Repository for Maven Artifactory Test Snapshot</name>
          <url>http://{{ repo_system_ip }}:{{ repo_system_port }}/artifactory/maven-test-repo</url>
          <layout>default</layout>
        </repository>
      </repositories>
       <pluginRepositories>
        <pluginRepository>
         <id>central</id>
         <name>artifactory-server-releases</name>
         <url>http://{{ repo_system_ip }}:{{ repo_system_port }}/artifactory/maven-test-repo</url>
         <layout>default</layout>
       </pluginRepository>
     </pluginRepositories>
  </profile>
</profiles>
<activeProfiles>
    <activeProfile>test</activeProfile>
  </activeProfiles>
</settings>
